//Margin and padding classes
$spaceamounts: (1, 2, 3, 4, 5);

@each $space in $spaceamounts {
  .m-#{$space} {
    margin: #{$space}rem;
  }

  .my-#{$space} {
    margin: #{$space}rem 0;
  }

  .p-#{$space} {
    padding: #{$space}rem;
  }

  .py-#{$space} {
    padding: #{$space}rem 0;
  }
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex--align-center {
  align-items: center;
}
.flex--align-start {
  align-items: start;
}

.flex--justify-center {
  justify-content: center;
}

.flex--justify-start {
  justify-content: flex-start;
}

.flex--justify-end {
  justify-content: flex-end;
}

.flex--space-between {
  justify-content: space-between;
}

.flex--space-around {
  justify-content: space-around;
}

.flex--space-evenly {
  justify-content: space-evenly;
}

.flex--wrap {
  flex-wrap: wrap;
}
