@import "../../../styles/colors";
@import "../../../styles/utilities.scss";

.carousel-card-container-horizontal {
  cursor: pointer;
  margin: 3% !important;
  height: 8rem;
  width: 13rem;

  img {
    height: 100%;
    width: 100%;
  }
}

.carousel-card-container-horizontal:hover {
  height: 11rem;
  width: 15rem;
  margin-bottom: 5%;
}

.carousel-card-container-vertical {
  cursor: pointer;
  margin: 6%;
  height: 16rem;
  width: 14rem;

  img {
    height: 100%;
    width: 100%;
  }
}

.carousel-card-container-vertical:hover {
  width: 22rem;
  height: 20rem;
  position: relative;
}

video {
  height: 100%;
  width: 100%;
}

.banner-wrapper-horizontal {
  box-sizing: border-box;
  padding: 2%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.75);
  height: 11rem;
  width: 15rem;
  z-index: 1;
}
.banner-wrapper-vertical {
  box-sizing: border-box;
  padding: 2%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.75);
  height: 20rem;
  width: 22rem;
  z-index: 1;
}

.movie-title {
  font-size: large;
  margin-bottom: 1%;
}

.tags {
  min-width: 3rem;
  background: #6d6b6b;
  backdrop-filter: blur(1rem);
  margin-right: 3%;
  color: #ffffff;
  padding: 1%;
  border-radius: 0.5rem;
  border: none;
}

.box{
  width: 100%;
  height: 100%;
}

.watch-card-details {
  width: 100%;
}

.sub-labels {
  width: 100%;
}
